#thirdSlideContainer{
    height: 700px;
    width: 100%;
    background-color: white;
    padding:1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thirdSlideTitle{
    margin-bottom: 1rem;
}

#photoCarousel{
    width: 350px; 
    overflow-x: scroll;
    display: flex;
    gap:1rem;
    scroll-behavior: smooth;
}



#photoComponentContainer{
    width: 325px;
    text-align: center;
    flex: 0 0 auto;
}

