#fourthSlideContainer{
    
    width: 100%;
    background-color: #fff7f1;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fourthSlideTitle {
    margin-bottom: 1rem;
}

#paisagemContainer{
    margin-top:50px;
    max-width: 1000px; 
}

#paisagemContainer p{
    font-size: 0.8rem;  
}